PORT=5000
# PostgreSQL / Azure Database connection string
DATABASE_URL=postgres://admin@djangoadmin2@djangoadmin2:Nightmare&of$Mensis@djangoadmin2.postgres.database.azure.com:5432/postgres?sslmode=require
JWT_SECRET=proyecto_iser_secret