PORT=5000

#DATABASE
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=ProyectoGrado
DB_PORT=5432

JWT_SECRET=proyecto_iser_secret

# Chatbot API keys (por rol)
APIKEY_ESTUDIANTE=
APIKEY_DOCENTE=
APIKEY_COORDINADOR=
APIKEY_BIBLIOTECA=