# Base de datos (PostgreSQL)
DB_HOST=djangoadmin2.postgres.database.azure.com
DB_PORT=5432
DB_NAME=ProyectoGrado
DB_USER=cevs
DB_PASSWORD=Nightmare&of$Mensis

# JWT
JWT_SECRET=proyecto_iser_secret

# Email (Outlook o Gmail)
# Para Outlook: EMAIL_PROVIDER=outlook
# Para Gmail: EMAIL_PROVIDER=gmail (o déjalo vacío)
EMAIL_PROVIDER=outlook
EMAIL_USER=tu-email@outlook.com
EMAIL_PASSWORD=tu-contraseña-outlook

# Frontend URL (para links de reset)
FRONTEND_URL=http://localhost:4200

# Backend PORT
PORT=5001

# Entorno
NODE_ENV=development
